.header{
    text-align: center;
    color: rgba(250, 125, 8, 0.726);
    background-color: rgb(166, 230, 175);
}
.header h1{
    font-size:100px;
}   
.logo{
    height: 50px;
}
.header nav {
    background-color: rgb(83, 165, 233);
    line-height: 40px;
    display: flex;
    justify-content: space-between;
}
.header nav a{
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 5px 10px;
    font-size: 20px;
}
.header nav a:hover{
    background-color: rgb(255, 244, 244);
    color: black;
}